
body {
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --primaryBlue: #08A6E4;
    --primaryRed: #FB3B64;
    --primaryGreen: #55DFB4;
    --primaryGray: rgba(127, 138, 136, 0.65);
    --primaryLightGray: #F7F7F7;
}

* {
    box-sizing: border-box;
}

.container {
    min-width: 1352px;
    margin: 0 auto;
}

/*
 * HEADER
 */

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 3px 6px #00000029;
}


.header__logo {
    font-family: 'Raleway', serif;
    font-size: 32px;
    font-weight: 300;
    color: var(--primaryBlue);
    text-decoration: none;
}

.nav__items {
    display: flex;
}

.nav__item {
    margin-left: 75px;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}

.nav__item--link {
    height: 70px;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    color: var(--primaryGray);
    font-family: 'Open Sans', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    transition: .2s;

}

.nav__item:hover .nav__item--link {
    color: black
}

.nav__item:hover {
    border-bottom: 3px solid var(--primaryBlue);
}

/*
 * MAIN
 */

.main {
    height: 800px;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    width: 100%;

    background-position: center;
}

.main__intro {
    margin-top: 100px;
}

.intro__info {
    text-align: center;
}

.intro__heading {
    font-family: 'Raleway', serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.intro__small--heading {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    margin-bottom: 38px;
}

.intro__btn {
    padding: 22px 150px;
    box-shadow: 5px 10px 14px #07ACE629;
    border: none;
    border-radius: 40px;
    background-color: var(--primaryBlue);
    transition: .2s;
    border: 1px solid var(--primaryBlue);
}

.intro__btn:hover {
    background-color: transparent;

}

.intro__btn:hover .intro__btn--link {
    color: var(--primaryBlue);
}


.intro__btn--link {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

/*
 * SECTION : STATISTICS
 */

.statistics {
    height: 530px;
    text-align: center;

}

.statistics__heading {
    font-size: 36px;
    font-family: 'Raleway', serif;
}

.statistics__items {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 290px;
    margin: 100px 50px 0 50px;
}

.img__container {

}

.item__img {
    margin-bottom: 18px;
}

.photo {
    width: 60px;
    height: 60px;
    background-color: red;
}


.item__number {
    font-family: 'Raleway', serif;
    font-weight: 800;
    margin-bottom: 22px;
    font-size: 20px;
}

.item__info {
    font-family: 'Raleway', serif;
    font-size: 16px;
    color: var(--primaryGray);
}

/*
 * SECTION : ARTICLE
 */

.article {
    background-color: var(--primaryLightGray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 105px 250px;

}

.article__item {
    min-width: 1124px;
    min-height: 370px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 40px;

}

.item__content {
    padding: 100px 0 90px 35px;
    width: 50%;
    margin-right: 150px;
    position: relative;
}


.article__item:nth-of-type(2) .item__content {
    order: 2;
    margin-right: 0;
    margin-left: 150px;
    padding: 100px 35px 90px 0;
}

.item__content--heading {
    font-family: 'Raleway', serif;
    font-size: 36px;
    margin-bottom: 30px;
}

.item__content--text {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    border-bottom: 4px solid var(--primaryRed);
    padding-bottom: 50px;
}


.article__item .item__content--text::before {
    display: block;
    content: "";
    width: 150px;
    height: 15px;
    background-color: white;
    position: absolute;
    bottom: 25%;
    right: 0%;
}

.article__item:nth-of-type(2) .item__content--text::before {
    bottom: 22%;
    right: 0%;
}

.article__item:nth-of-type(3) .item__content--text::before {
    width: 232px;
    bottom: 26%;
    right: 0%;
}


.article__item:nth-of-type(2) .item__content--text {
    border-color: var(--primaryBlue);
}

.article__item:nth-of-type(3) .item__content--text {
    border-color: var(--primaryGreen);
}

.article__item .item__img {
    position: relative;
    width: 50%;
}

.article__item .item__img .item__img--macbook {
    position: absolute;
    top: 62%;
    left: 37%;
    transform: translate(-50%, -50%);
    width: 385px;
    height: 220px;
}

.article__item .item__img .item__img--iPhone {
    position: absolute;
    top: 55%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 320px;
}

.article__item .item__img .item__img--trumpet {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 205px;
}

.article__item .item__img::before {
    display: block;
    content: "";
    position: absolute;
}

.article__item:nth-of-type(1) .item__img::before {
    top: 16%;
    left: 37%;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background-color: var(--primaryRed);
    border-radius: 41px;
}

.article__item:nth-of-type(2) .item__img::before {
    top: 5%;
    left: 11%;
    width: 320px;
    height: 320px;
    background-color: var(--primaryBlue);
    border-radius: 50%;
}

.article__item:nth-of-type(3) .item__img::before {
    display: none;
}


.article__item--modified {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryLightGray);

}

.article__item--modified .item__container:nth-of-type(1) {
    max-width: 623px;
    margin-right: 60px;

}

.article__item--modified .item__content,
.article__item--modified .item__img {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    min-height: 370px;;

}

.article__item--modified .item__img {
    min-width: 440px;
    background-color: var(--primaryGreen);
}

.article__item--modified .item__content {
    padding-right: 35px;
}


.article__item--modified .item__container:nth-of-type(2) {
    max-width: 440px;
}

/*
 * SECTION : PRICING
 */

.pricing {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 100px;
    flex-wrap: wrap;


}

.pricing__heading {
    font-family: 'Raleway', serif;
    font-size: 36px;
    text-align: center;
    width: 100%;
    justify-self: center;
    margin: 105px 0 70px 0;
}

.pricing__box {
    text-align: center;
    width: 372px;
    height: 461px;
    border: 1px solid var(--primaryRed);
    border-radius: 18px;
    padding: 38px 100px 80px 100px;
    transition: .3s;
}

.pricing__box {
    transform: scale(1);
}

.pricing__box:hover {
    transform: scale(1.03);
}

.pricing__box:nth-of-type(2) {
    border-color: var(--primaryBlue);
    box-shadow: 5px 10px 27px #07ACE629;
    transform: scale(1.1);

}

.pricing__box:nth-of-type(2):hover {
    box-shadow: 5px 10px 45px #07ACE629;
    transform: scale(1.14);
}

.pricing__box:nth-of-type(3) {
    border-color: var(--primaryGreen);
}

.pricing__type {
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 21px;
}

.pricing__price {
    display: block;
    font-family: 'Open Sans', serif;
    font-size: 46px;
    font-weight: 300;
    color: var(--primaryRed);
    margin-top: 18px;
}

.pricing__info {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    position: relative;
}

.pricing__checkmark {
    margin-right: 10px;
    line-height: 14px;
}

.pricing__checkmark img {
    vertical-align: baseline;
}

.pricing__box:nth-of-type(2) .pricing__price::after,
.pricing__box:nth-of-type(3) .pricing__price::after {
    content: "Limited offer";
    display: block;
    font-family: 'Raleway', serif;
    font-weight: 700;
    color: black;
    font-size: 12px;
    margin-top: 7px;
}

.pricing__box:nth-of-type(2) .pricing__price {
    color: var(--primaryBlue);

}

.pricing__box:nth-of-type(3) .pricing__price {
    color: var(--primaryGreen);
}

.pricing__box .pricing__info {
    margin-top: 20px;
}

.pricing__box:nth-of-type(1) .pricing__info:nth-of-type(1) {
    margin-top: 86px;
}

.pricing__box .pricing__info:nth-of-type(1) {
    margin-top: 67px;
}

.pricing__button {
    display: block;
    text-decoration: none;
    border-radius: 23px;
    font-family: 'Open Sans', serif;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 16px 57px;
    background-color: var(--primaryRed);
    margin-top: 80px;
    transition: .2s;

}

.pricing__button:hover {
    background-color: white;
    color: var(--primaryRed);
    border: 1px solid var(--primaryRed);
}

.pricing__box:nth-of-type(2) .pricing__button:hover {
    background-color: white;
    color: var(--primaryBlue);
    border-color: var(--primaryBlue);
}

.pricing__box:nth-of-type(3) .pricing__button:hover {
    background-color: white;
    color: var(--primaryGreen);
    border-color: var(--primaryGreen);
}


.pricing__box:nth-of-type(2) .pricing__button {
    box-shadow: 5px 10px 14px #07ACE629;
    background-color: var(--primaryBlue);
}

.pricing__box:nth-of-type(3) .pricing__button {
    background-color: var(--primaryGreen);
}

/*
 * SECTION : CONTACT
 */

.contact {
    margin: 170px auto 0;

    display: flex;
    justify-content: center;
}

.contact__info {
    width: 30%;
}

.contact__info--heading {
    font-family: 'Raleway', serif;
    font-size: 49px;
    margin-bottom: 22px;
}

.contact__info--small-heading {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    margin-bottom: 42px;
}

.contact__info--email,
.contact__info--number {
    display: inline-block;
    color: #707070;
    font-family: 'Open Sans', serif;

}

.contact__info--icon {
    margin-right: 8px;
}

.contact__info--number {
    margin-left: 25px;
}

/*
 * SECTION : CONTACT__FORM
 */
.contact__form {
    width: 30%;
}

.form {

}

.form .form__label {
    display: inline-block;
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 11px;
    color: var(--primaryBlue);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.form .form__label.form__email {
    margin-top: 40px;


}

.form .form__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(150, 150, 150, .4);
    transition: .1s;
}

.form .form__input:focus {
    border-bottom-color: rgba(150, 150, 150, .8);

}


.form .form__input:nth-of-type(2) {
    margin-bottom: 35px;
}

.form__checkbox--label input {
    opacity: 0;
    position: absolute;
}

.form__checkbox--label .checkbox--custom {
    background: white;
    border: 1px solid #95989A;
    border-radius: 4px;
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;

}

.form__checkbox--label .checkbox--custom::after {
    content: "✓";
    font-size: 20px;
    color: var(--primaryBlue);
    opacity: 0;
    top: 1px;
    left: 4px;

}

.form__checkbox--label input:checked ~ .checkbox--custom {
    background-color: white;
}

.form__checkbox--label .checkbox:checked ~ .checkbox--custom::after {
    opacity: 1;
    position: relative;
}

.form__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.form__regulations {
    margin-left: 10px;
    width: 90%;
    color: #707070;

}

.form__btn {

    background-color: var(--primaryBlue);
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 14px;
    padding: 20px 97px;
    border-radius: 35px;
    color: white;
    margin-top: 20px;

    transition: .2s;
    border: 1px solid var(--primaryBlue);
}

.form__btn:hover {
    background-color: transparent;
    color: var(--primaryBlue);

}

/*
 * FOOTER
 */

.footer {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
    box-shadow: 0px -5px 40px #00000029;
    background-color: var(--primaryLightGray);
    margin-top: 70px;
}

.footer__copyright .copyright__logo {
    font-family: 'Raleway', serif;
    color: var(--primaryBlue);
    font-weight: 300;
    font-size: 26px;
}

.footer__copyright .copyright__info {
    color: var(--primaryGray);
    font-family: 'Open Sans', serif;
    font-size: 11px;
    margin-top: 7px;
}

.footer_socials--twitter,
.footer_socials--facebook {
    cursor: pointer;
}

.footer_socials--twitter {
    margin-right: 17px;
}


/*
 * SECTION : CALCULATOR
 */

.pricing-calc {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 90px 100px;
    margin-top: 100px;
    flex-wrap: wrap;
    background: var(--primaryLightGray);


}

.pricing-calc__heading {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: 'Raleway', serif;
    margin-bottom: 35px;
}

.pricing-calc__left-panel,
.pricing-calc__right-panel {
    width: 30%;


}

.pricing-calc__right-panel {
    margin-left: 40px;
}

.left-panel__input,
.left-panel__dropdown {
    width: 100%;
}

.left-panel__input,
.left-panel__dropdown {
    padding: 8px 20px;
    outline: none;
    box-shadow: 0 3px 6px #08A6E429;
    border: 1px solid #08A6E4;
    border-radius: 6px;
    font-family: 'Open Sans', serif;
    margin-bottom: 20px;
    color: black;
    width: 100%;
}

.left-panel__input::placeholder {
    color: var(--primaryGray);
}

.left-panel__dropdown {
    color: var(--primaryGray);
    width: 100%;
    height: 40px;
    padding-top: 10px;
    position: relative;
    cursor: pointer;
    user-select:none;

}

.left-panel__dropdown .dropdown__options--icon {
    background: url("../assets/Arrow Down.svg");
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: .3s;
    transform-origin: 50% 50%;
}
.left-panel__dropdown .dropdown__options--icon.active{
    transform: translateY(-50%) rotate(180deg);

}

.dropdown__options {
    position: relative;
    z-index: -2;
    height: 0;
    opacity: 0;
    border-radius: 6px;
    font-family: 'Open Sans', serif;
    font-size: 13px;
    margin-bottom: 20px;
    transition: .2s;
    box-shadow: 0 3px 6px #EB476E29;
    border: 1px solid #EB476E;
}
.dropdown__options.active{
    height:131px;
    opacity: 1;
    z-index: 5;

}

.dropdown__options .dropdown__options--option {
    padding: 15px 20px;
    cursor: pointer;


}

.dropdown__options .dropdown__options--option:hover {
    background-color: #c9c9c9;
}

.dropdown__options .dropdown__options--option:nth-of-type(1) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.dropdown__options .dropdown__options--option:nth-of-type(3) {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.pricing-calc__left-panel .form__regulations {
    float: right;
    margin-top: 6px;
    font-size: 13px;
}

.left-panel__checkbox .checkbox--custom {
    margin-bottom: 16px;
}


/*right panel*/
.right-panel__item {
    width: 100%;
    background-color: var(--primaryGreen);
    margin-bottom: 15px;
    padding: 11px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 6px;
    font-family: 'Open Sans', serif;
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: .1s;


}

.right-panel__item div:nth-of-type(1) {
    width: 33.33%;
    text-align: left;
}

.right-panel__item div:nth-of-type(2) {
    width: 33.33%;
    text-align: center;
}

.right-panel__item div:nth-of-type(3) {
    width: 33.33%;
    text-align: right;
    font-weight: bold;
}

.right-panel__item-summary {
    float: right;
    display: flex;
    justify-content: space-around;
    padding: 11px 0;
    background-color: var(--primaryBlue);
    color: white;
    box-shadow: 0 3px 6px #00000029;
    width: 150px;
    border-radius: 6px;
    font-family: 'Open Sans', serif;
    line-height: 20px;
    margin-top: 10px;
    opacity: 0;
}

.right-panel__item-summary--text {
    font-size: 14px;


}

.right-panel__item-summary--cash {
    font-weight: bold;
    font-size: 20px;

}



















